.collection-view
  padding: 30px
  overflow: auto
  height: 100%
  text-align: center
  .collection-header
    margin-bottom: 20px
    display: flex
    justify-content: center
    align-items: center
    position: relative
    .export-link
      position: absolute
      right: 0px
  .collection-grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 30px
    