.home-view
  .top-content
    display: flex
    margin: auto
    border-bottom: 1px solid #000
    .logo-block
      padding: 50px
      width: 50%
      border-right: 1px solid #000
      h1
    .about-block
      width: 50%
      padding: 50px
      .home-links
        display: flex
        margin-top: 40px
        .home-link
          display: block
          padding: 15px 40px
          border: 1px solid #000
          color: #000
          transition: all 0.4s
          &:hover
            background-color: #B87333
            color: #fff
  .latest-content
    .latest-title
      margin: 30px
      text-align: center
      text-transform: uppercase