.resource-view
  padding: 20px 5%
  height: 100%
  display: flex
  overflow: auto
  position: relative
  .resource-preview
    flex: 0 0 60%
    img
      width: 100%

  .resource-sideinfo-container
    flex: 0 0 38%
    margin-left: auto
    font-size: 16px
    line-height: 20px
    .resource-sideinfo
      border: 1px solid #000000
      margin-bottom: 40px

      .resource-title
        border-bottom: 1px solid #000000
        font-size: 20px
        line-height: 25px
        font-weight: 400
        padding: 12px
      .resource-desc,
        border-bottom: 1px solid #000000
        padding: 12px
      .meta-row
        display: flex
        border-bottom: 1px dotted #000000
        &:last-child
          border-bottom: 1px solid #000000
        .meta-title
          padding: 12px
          color: 575449
          text-transform: uppercase
          max-width: 33%
          min-width: 33%
          border-right: 1px solid #000
        .meta-value
          padding: 12px
      .resource-source
        a
          display: flex
          height: 50px
          justify-content: center
          align-items: center
          color: #000000
          text-decoration: none
          &:hover
            text-decoration: underline