@import "../variables.sass";

.resource-page
  overflow: auto
  height: 100%
  .resource-view
    display: flex
    position: relative
    padding: 20px 5%
    border-bottom: 1px solid #000
    @media (max-width:$mq-mobile)
      flex-direction: column
    .resource-preview
      flex: 0 0 60%
      height: 100%;
      position: sticky;
      top: 20px;
      margin-bottom: 40px;
      @media (max-width:$mq-mobile)
        flex: 0 0 100%
        margin-bottom: 40px
        position: relative
      img
        width: 100%

    .resource-sideinfo-container
      flex: 0 0 38%
      margin-left: auto
      @media (max-width:$mq-mobile)
        flex: 0 0 100%

  .related-resources
    text-align: center
    margin: 30px 0px
    .related-resources-panel
      min-height: 320px
      position: relative
      .related-options
        margin-bottom: 30px
        display: flex
        justify-content: center
        align-items: center
        span
          margin: 0.35em