.sidebar-container
  height: 100%
  position: relative
  width: 250px
  z-index: 5

.primary-sidebar
  border-right: 2px solid #575449
  position: absolute
  min-height: 100vh
  background: #FBFAF7
  width: 250px
  z-index: 10
  max-height: 100vh
  overflow: auto

  .sidebar-title
    padding: 8px 20px
    color: #575449
    height: 40px
    border-bottom: 0.5px solid #575449

  .filter-type
    padding: 8px 20px
    cursor: pointer
    display: flex
    align-items: center
    border-bottom: 0.5px solid #575449
    &.active
      background-color: #F3EFE6
    .arrow-icon
      margin-left: auto



.secondary-sidebar
  position: absolute
  background: #F3EFE6
  height: 100% !important;
  max-height: 100%;
  flex-direction: column;
  transition: 0.4s ease;
  border-right: 2px solid #575449

  .secondary-sidebar-header
    display: flex
    height: 40px
    border-bottom: 0.5px solid #575449
    align-items: center
    padding: 8px 20px
    .filter-title
      font-weight: 400
      text-align: center
      width: 100%
    .arrow-icon

      cursor: pointer
  .secondary-sidebar-content
    max-height: calc(100% - 40px)
    height: calc(100% - 40px)
    overflow: auto
    .filter-list
      .filter-list-item
        display: flex
        padding: 8px 20px
        border-bottom: 0.5px dotted #575449
        align-items: center
        cursor: pointer
        .circle-checkbox
          min-width: 12px
          min-height: 12px
          border: 1px solid #000
          border-radius: 50%
          margin-right: 5px
        &.checked
          color: #B87333
          .circle-checkbox
            border: 2px solid #B87333
            background: #B87333
        input
          display: none
    .filter-dates
      height: 100%
      padding: 20px


.arrow-icon
  background-position: center center
  background-size: 14px 7px
  width: 14px
  height: 7px
  &.reverse
    transform: rotate(180deg)