.header-links
  margin-left: auto
  height: 50px
  border-top: 1px solid #000
  .header-link
    height: 100%
    width: 100%
    border-left: 1px solid #000
    color: #000
    align-items: center
    justify-content: center
    display: flex
    position: relative
    text-decoration: none
    &:first-of-type
      border-left: none
    &:hover
      text-decoration: none
      &::after
        content: ''
        display: block
        position: absolute
        bottom: 0px
        left: 0px
        background: #B87333
        width: 100%
        height: 5px
        opacity: 0.5
    &.active
      &::after
        content: ''
        display: block
        position: absolute
        bottom: 0px
        left: 0px
        background: #B87333
        width: 100%
        height: 5px
        opacity: 1

    .collection-icon
      width: 20px
      height: 20px
      background-size: contain
      background-repeat: no-repeat
      margin-right: 5px

@media (min-width: 768px)
  .header-links
    border-top: none
    .header-link
      &:first-of-type
        border-left: 1px solid #000
