.resource-extended-info
  margin-bottom: 20px
  font-size: 16px
  line-height: 20px
  text-align: left
  .resource-title
    font-family: "P22MackinacMedium";
    border: 1px solid #000000
    font-size: 20px
    line-height: 25px
    font-weight: 400
    padding: 12px
    display: flex
    align-items: center
    .collection-icon
      cursor: pointer
      margin-left: auto
      width: 20px
      height: 20px
      background-size: contain
      background-repeat: no-repeat
      min-width: 20px
      padding: 10px

  .resource-desc,
    border-left: 1px solid #000000
    border-right: 1px solid #000000
    border-bottom: 1px solid #000000
    padding: 12px
    font-size: 16px;
    line-height: 20px;
  .meta-row
    display: flex
    border-left: 1px solid #000000
    border-right: 1px solid #000000
    border-bottom: 1px dotted #000000
    &:last-child
      border-bottom: 1px solid #000000
    .meta-title
      padding: 12px
      color: #575449
      text-transform: uppercase
      max-width: 33%
      min-width: 150px
      border-right: 1px solid #000
    .meta-value
      padding: 12px
  .resource-source
    display: flex
    height: 76px
    width: 100%
    justify-content: center
    align-items: center
    color: #000000
    text-decoration: none
    border-left: 1px solid #000000
    border-right: 1px solid #000000
    border-bottom: 1px solid #000000
