
.map-container
  border-right: none
  height: 40%
.map-sidebar
  height: 60%
  .map-options

.resource-list
  .resouce-grid-container
    grid-template-columns: 1fr 1fr

@media (min-width: 768px)
  .map-container
    border-right: 1px solid var(--bs-dark)
    height: 100%
  .map-sidebar
    height: 100%

  .resource-list
  .resouce-grid-container
    .resource-card
      border-right: 1px solid var(--bs-dark) !important
