 
.resource-table
  width: 100%
  display: block
  flex: 0 0 auto
  overflow: scroll
  height: 100%
  thead
    border-top: 1px solid #000
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    tr
      th
        color: #575449
        text-transform: uppercase
        font-size: 13px;
        line-height: 20px;
        padding-right: 5px
        height: 40px
        padding: 5px
        span
          margin-left: 5px
  tbody
    overflow-y: scroll
    height: 100%
    tr
      border-bottom: 0.5px dashed #575449;
      cursor: pointer
      &:hover
        background: #F3EFE6
      td
        padding: 5px