.resource-card
  height: 300px
  padding: 12px
  background: #FBFAF7
  color: #000000
  display: flex
  flex-direction: column
  transition: all 0.2s ease;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  &:hover
    text-decoration: none
    color: #000000
    background: #fff
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  img
    width: 100%
    max-height: 160px
    margin-bottom: 7px
  .card-title
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  .card-badge
    margin-top: auto
    font-size: 16px;
    line-height: 18px;

