.resource-slider
  position: relative
  width: 100%
  &.infinite
    .resource-card
      &:last-child
        border-right: 0px
  .fade-left
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(270deg, #FBFAF7 18.42%, rgba(251, 250, 247, 0.619324) 59.21%, rgba(251, 250, 247, 0) 100%);
    transform: rotate(180deg);
  .fade-right
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(270deg, #FBFAF7 18.42%, rgba(251, 250, 247, 0.619324) 59.21%, rgba(251, 250, 247, 0) 100%);
