@import "./variables.sass"
@import "~react-image-gallery/styles/css/image-gallery.css"
@import '~bootstrap/scss/bootstrap'

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

body,
html,
#root
  height: 100%
  overflow: hidden

.App
  height: 100%
  overflow: hidden
  background-color: #FBFAF7

.app-content

.loading
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.image-gallery
  .image-gallery-thumbnail.active,  .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus
    border-color: #B87333 !important
