
@font-face {
  font-family: "FolioBT-Book";
  src: url('assets/fonts/FolioBTBook/font.woff2') format('woff2'), url('assets/fonts/FolioBTBook/font.woff') format('woff');
}
@font-face {
  font-family: "P22MackinacMedium";
  src: url('assets/fonts/P22MackinacMedium/font.woff2') format('woff2'), url('assets/fonts/P22MackinacMedium/font.woff') format('woff');
}

body {
  margin: 0;
  --font-family-sans-serif: "FolioBT-Book";
  font-family: "FolioBT-Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 26px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
